---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/stores":
    get:
      summary: Retrieves all stores
      tags:
      - Stores
      parameters:
      - name: page
        in: query
        description: Page number for pagination
        required: false
        schema:
          type: integer
      - name: starts_with
        in: query
        description: Search Query to search by name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: stores found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
    post:
      summary: Creates a store
      tags:
      - Stores
      parameters: []
      responses:
        '201':
          description: store created
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
  "/stores/{id}":
    put:
      summary: Updates a store
      tags:
      - Stores
      parameters:
      - name: id
        in: path
        description: ID of the store to update
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: store updated
        '404':
          description: store not found
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the store
                description:
                  type: string
                  description: Description of the store
              required:
              - name
    delete:
      summary: Deletes a store
      tags:
      - Stores
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: store deleted
        '404':
          description: store not found
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: localhost:3000
